<header>
    <aside class="logo">
      <img src="../../assets/images/logo.png" alt="logo" />
    </aside>
    <aside class="head-contents">
      <ul class="content">
        <li class="home">
          <a href="#" style="color: #262828;">HOME</a>
        </li>
        <li class="test">
          <a href="#">TEST RIDE</a>
        </li>
        <li class="location">
          <a href="#">LOCATIONS</a>
        </li>
        <li class="pricing">
          <a href="#">PRICING</a>
        </li>
        <li class="email">
          <img class="email-icon" src="../../assets/images/email.svg" alt="">
          <span>
            <h4>Email us now:</h4>
            <h3>info@fygo.com</h3>
          </span>
        </li>
        <li class="phone">
          <img class="phone-icon" src="../../assets/images/phone.svg" alt="">
          <span>
            <h4>Call us now:</h4>
            <h3>+98 844 8744 55</h3>
          </span>
        </li>
      </ul>
    </aside>
  </header>
  