<section class="landing">
  <aside class="headings">
     
      <span class="main-head">
        <h1>BE THE VISIONARY GO WITH <span> ECOFRIENDLY</span></h1>
      </span>
   
      <span class="buttons">
        <button class="nearest">Find Nearest Station</button>
        <button class="dealer">Become a Dealer</button>
      </span>
      <span class="fygo-rotate">
        <h1>FYGO</h1>
      </span>
      <span class="dot-image">
        <img src="../../assets/images/dots.png" alt="" />
      </span>
  </aside>
  <img class="land-image" src="../../assets/images/land.png" alt="" />
</section>
