<main class="map">
    <section class="map-head">
      <aside class="first">
        <span class="first-head">
          <h3>Stay Connected</h3>
          <h1>Check out our swap stations around you</h1>
        </span>
      </aside>
      <aside class="second">
        <p>
          Delectus, nesciunt imperdiet dolor litora orci? Tristique per natus.
          Saepe convallis, nostra. Ducimus convallis , bibendum elit. Delectus,
          nesciunt imperdiet dolor litora orci? Tristique per natus. Saepe
        </p>
      </aside>
    </section>
    <section class="map-body">
      <aside class="locations">
          <ul class="map-lists">
              <li class="list-head">
                  <h1>Locations</h1>
              </li>
              <li class="list-body">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
              <li class="list-body bodys">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
              <li class="list-body bodys">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
              <li class="list-body bodys">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
              <li class="list-body bodys">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
              <li class="list-body bodys">
                  <h4>Bannerghetta swap sattion</h4>
                  <h5>Bangalore, 56387828</h5>
                  <span class="direction">
                      <span class="material-icons icon-dir">
                          directions
                          </span>
                      <h6>
                          Get Direction
                      </h6>
                  </span>
                  
              </li>
            
          </ul>
      </aside>
      <aside class="map-">
        <div id="map" class="map-container"> </div>
      </aside>
    </section>
  </main>
  
  
  

  